*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    background-color: #1d213c;
    top:0;
    padding: 2% 0%;
    z-index: 2;
    position: absolute;
}

header nav{
    display: flex;
    justify-content: right;
    gap: 20px;
    padding-right: 10%;
}

#laptopnav_top{
    border-bottom: solid;
    border-color: grey;
    border-width: 1px;
    padding-bottom: 20px;
}

#laptopnav_top a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: small;
    text-decoration: none;
}
#laptopnav_top a:hover{
    color: rgb(223, 223, 223);

}

#laptopnav_bottom {
    padding-top: 30px;
}

#laptopnav_bottom a {
    font-size: larger;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

#laptopnav_bottom a:hover{
    color: rgb(173, 173, 173);
}

#logo{
    width: 135px;
    height: 145px;
    background-color: white;
    border-radius: 20px;

    position: absolute; /*så den bliver overpå nav*/
    margin-top: 1%;
    margin-left: 4.2%;

    border-style: solid;
    border-color: black;
    z-index: 1;
}




body {
    margin: 5%;
}

main a{
    background-color:grey;
    border-radius:20px;
    color:white;
    padding:10px;
    text-decoration:none;
}

img{
    width: 100%;
    border-radius: 10px;
}

main, .abonnement{
    display: flex;
}

.abonnement{
    align-items: center;
    padding: 20px
}

.nyheder{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.nyheder > section{
    width: 25%;
    height: 350px;
    margin: 10px;
    padding: 20px;
    /*padding: 1.5%;*/

    background-color: cadetblue;
    border-radius: 10px;
}

.nyheder > section:hover{
    opacity: 0.85;
}

.nyheder > section:first-child{
    width: 50%;
    background-color: crimson;
    background-image: url(images/udebane-top.webp);
    background-size:cover;
}

#secondchild{
    background-image: url(images/cecilie-johansen.webp);
    background-size:cover;
    background-position: center;
}

#thirdchild{
    background-image: url(images/paddy-jubel-tilskuer.webp);
    background-size:cover;
    background-position: center;
}

h1 {
    font-size: 30pt;
}

h2 {
    color: white;
    font-weight: 500;
    font-stretch: expanded;
}

h4 {
    padding-bottom: 15px;
    font-weight: 500;
    color: white;
}

h5 {
    font-weight: 100;
    color: white;
}


/*Kaspers media q*/
@media only screen and (min-width: 1000px){    #mobilnav{
    display: none;
}
}

@media only screen and (max-width: 1000px){
    header nav{
        display: none;
    }

    #mobilnav{
        display: block;
        display: flex;
        justify-content: right;
        padding-right: 2%;
        border-width: 1px;
        flex-direction: row;
    }

    #mobilnav a {
        gap: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: small;
        text-decoration: none;
        padding-top: 10px;
        padding-right: 20px;
    }

    #mobilnav img{
        width: 20px;
    }

    #logo{
        width: 55px;
        height: 70px;
        background-color: white;
        border-radius: 5px;
    
        position: absolute; /*så den bliver overpå nav*/
        margin-left: 2%;
        top:0;
    
        border-style: solid;
        border-color: black;
    }
}

/*Niko*/

@media screen and (max-width:768px){
    #logopladsholder{
        display: none; /*logoet forsvinder*/
    }

    #laptopnav_top, #laptopnav_bottom{
        display: none;
    }

    #mobilnav { /* så mobil burgermenu kommer frem*/
        display: block;
        text-align: right;
        color: white;
        height: 50px;
    }
    
    
    main{
        flex-direction: column;
    }

    .nyheder{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .nyheder > section{
        width: 90%;
    }

    .nyheder > section:first-child{
        width: 90%;
    }
}

@media screen and (min-width:768px){
    #logopladsholder{
        display: block;
    }
    
    #mobilnav { /* så mobil burgermenu kommer frem*/
        display: none;
    }
    
    main{
        flex-direction: row;
    }
    
    .abonnement{
        width: 50%;
    }
}